@media screen and (min-width:768px) {
    html {
        font-size: 75%;
    }

    .navigation {
        display: none;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-logo {
        max-width: 40%;
    }

    .navigation-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 7%;
        width: 50%;
    }

    .nav-button {
        background: rgb(105, 111, 224);
        border: none;
        outline: none;
        border-radius: 2rem;
        padding: 1rem;
    }

    .nav-button a {
        font-size: 1.1rem;
    }


    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    input[type=search] {
        max-width: 30rem;
    }

}

@media screen and (min-width:992px) {
    main {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 2rem;
    }

    .navigation-logo img {
        display: block;
    }

    .mobile-navbar-container {
        display: none;
    }

    .mobile__menu {
        display: none;
        background-color: #a7b2ee;
        position: absolute;
        z-index: 9999999;
        display: none;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100vh;
    }

    i.fa.fa-bars {
        display: none;
    }

    #checkboxMenu {
        display: none;
    }

    #checkboxMenu:checked~.mobile__menu {
        display: none;
    }

    .mobile_logo img {
        display: none;
        visibility: hidden;
        width: 15%;
        margin-left: 5%;
        margin-top: 2%;
    }

    .horizontal-card-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        flex-wrap: nowrap;
        gap: 10%;
        flex-basis: 90%;
    }

    .main-card-text {
        flex-basis: 100%;
        margin: 0;
    }

    .main-card-img {
        max-width: 400px;
    }

    .main-card-paragraph p {
        font-size: 1.1rem;
        margin: 1rem 0;
    }

    .main-card-heading h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .main-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-basis: 45%;

    }

    .small-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-basis: 30%;
    }

    .small-card-img {
        max-width: 300px;
    }

    .small-card-paragraph p {
        font-size: 1rem;
        margin: 1rem 0;
    }

    .small-card-heading h2 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }

    .small-cards-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .small-card-text {
        flex-basis: 100%;
    }

    .techniques {
        padding: 0.6rem;
    }

    .footer-button button {
        padding: 0.7rem 2rem;
    }

    .publisher-name span {
        font-size: 0.9rem;
    }

    .footer-input {
        max-width: 560px;
    }
}

@media screen and (min-width:1200px) {
    .main-card-text {
        flex-basis: 90%;
        justify-content: center;
    }

    main {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    footer{
        position:relative;
    }
    .footer-image{
        margin:2rem auto 2rem auto;
        
    }
    .footer-text{
        position:absolute;
        top:50%;
    }
    .fa-envelope{
        position:absolute;
        bottom:20%;
        left:20%;
        opacity:0.5;
        
    }
    .footer-input input {
        border-radius: 2rem;
        padding-left:2.5rem;
    }

}

@media screen and (min-width:1400px) {
    main {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .horizontal-card-container {
        display: flex;
        justify-items: space-around;
        align-items: flex-end;
        gap: 11%;
    }

    .main-card-text {
        max-width: 400px;
    }

    .footer-input {
        max-width: 560px;
        position: relative;
    }

    .subscribe-btn {
        right: 13%;
        bottom: 2%;
    }
    
    .footer-input input {
        border-radius: 2rem;
        padding-left:2.5rem;
    }

    html {
        font-size: 87.5%;
    }
    footer{
        position:relative;
    }
    .footer-image{
        margin:2rem auto 2rem auto;
        
    }
    .footer-text{
        position:absolute;
        top:50%;
    }
    .fa-envelope{
        position:absolute;
        bottom:20%;
        left:20%;
        opacity:0.5;
        
    }
}