.small-cards-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.small-card-img img {
    width: 100%;
    border-radius: 1rem;
}

.small-card-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    margin: 2rem 0;
}

.small-card-text {
    width: 100%;
    margin: 2rem auto;
    display: block;
    text-align: left;
}

.small-card-heading h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.small-card-paragraph p {
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 2rem auto;
}

.small-card-footer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}